# image_animation_4_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# retargeting_eyes.mp4 filter=lfs diff=lfs merge=lfs -text
# retargeting_lip.mp4 filter=lfs diff=lfs merge=lfs -text
# all_self_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# image_animation_8_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# image_animation_1_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# image_animation_5_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# image_animation_9_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# video_animation_3_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# cross_0_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# image_animation_0_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# video_animation_1_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# image_animation_3_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# video_animation_0_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# all_cross_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# video_animation_4_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# video_animation_6_opt.mp4 filter=lfs diff=lfs merge=lfs -text
# animal_animation_4.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_0.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_1.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_3.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_9.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_10.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_12.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_13.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_6.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_7.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_11.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_5.gif filter=lfs diff=lfs merge=lfs -text
# animal_animation_8.gif filter=lfs diff=lfs merge=lfs -text
# video_c_opt.mp4 filter=lfs diff=lfs merge=lfs -text
